.title1 {
    color: #FFBD59;
    font-size: 36px;
    font-weight: 500;
 }

.title2 {
    font-size: 40px;
    color: #012B28;
    font-weight: 600;
}

.title3 {
    font-size: 36px;
    color: #012B28;
    font-weight: 500;
    margin-bottom: 30px;
    text-align: left;
}

.info1 {
    font-size: 20px;
    color: #fff;
    font-weight: 200;
 }

.info2 {
    font-size: 20px;
    color: #787373;
    font-weight: 500;
}

hr{
    width: 80%;
    background-color: #FFEAC0;
    height: 3px;
    border: none;
}


.home_main_container {
    height: 100%;
}

.home_first_sub_container {
    background-color: #fff;
    /* display: flex;
    justify-content: center; */
    text-align: center;
    padding: 50px 20px;
    line-height: 2;
}

.first_container {
    max-width: 1280px;
}

.home_second_sub_container {
    background-color: #012B28;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
}

.second_container {
    max-width: 1280px;
    text-align: left;
    padding-top: 50px;
}

.card_container {
    max-width: 1280px;
}


.home_third_sub_container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.third_container {
    max-width: 1280px;
    padding: 50px 0;
    width: 100%;
}

.third_card_holder > *{
    margin-bottom: 20px;
}


.third_card_container {
    display: flex;
    gap: 46px;
    padding-top: 20px;
}

.third_img {
    width: 454px;
    height: 605px;
    align-self: flex-end;
}

.third_card_holder {
    display: flex;
    width:60%;
    flex-wrap: wrap;
    gap: 30px;
}

.home_fourth_sub_container {
    background-color: #012B28;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    width:100%;
}
.title_container{
    /* width: 1280px; */
    max-width: 1280px;
    padding: 50px 0;
    width: 100%;
}

.fourth_container {
    display: flex;
    align-self: center;
    max-width: 1280px;
    gap: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.fourth_left_container {
    width: 40%;
    border-right: 7px solid #FFBD59;
    padding-right: 40px;
}

.fourth_left_container > p {
    padding-bottom: 30px;
}

.learn_btn {
    color: #FFBD59;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.divider{
    display: none;
}

@media (max-width: 1024px) {
    .fourth_container {
        flex-direction: column;


    }
    .third_img {
        align-self: flex-start;
        
    }
    .fourth_left_container {
        width: 100%;
        border: none;
        padding-right: 0;
    }

    .divider{
        display: block;
    }


}

@media (max-width: 992px) {
    .third_card_container {

    }
}

@media (max-width: 820px) {
    .third_card_container {
        flex-direction: column;
    }
    
    .third_card_holder {
        width: 100%;
    }

    .third_img {
        align-self: center;
    }
}

@media (max-width: 576px) {
    .title2 {
        font-size: 30px;
        text-align: center;
    }

    .title1 {
        font-size: 30px;
        text-align: center;
    }

    .title3 {
        font-size: 30px;
        text-align: center;
    }
    
    .info1{
        font-size: 16px;
        text-align: center;
    }

    .fourth_left_container{
        display: flex;
        flex-direction: column;
    }

    .learn_btn {
        align-self: flex-end;
    }

}

@media (max-width: 487px) {
    
    .third_img {
        width: 80%;
        height: auto;
    }

    .title2 {
        font-size: 25px;
    }

    .title1 {
        font-size: 25px;
    }

    .title3 {
        font-size: 25px;
    }
    
    .info1{
        font-size: 16px;
    }

    .info2 {
        font-size: 16px;
    }

    .second_container {
        padding-top: 20px;
    }

    .home_fourth_sub_container {
        padding: 0 20px;
    }
}

