.carousel_img {
    object-fit: cover;
    height: 800px;
    object-position: 60% 30%;
    max-width: 100%;
}

@media(max-width: 1920px) {
    .carousel_img {
        object-fit: cover;
        height: 600px;
    }
}

@media(max-width: 1440px) {
    .carousel_img {
        height: 400px;
    }
}

@media(max-width: 450px) {
    .carousel_img {
        height: 250px;
    }
}