nav {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #012B28;
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    z-index: 1000;
    padding: 17px;
}

.nav_container {
    max-width: 1280px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

img {
    align-self: flex-start;
}

.nav_menu{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    gap: 5%;
    
}

.nav_menu > li {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #fff !important;
    cursor: pointer;
}

.nav_menu > li > a{
    color: #fff;

}


.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    z-index: 1001; 
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: all 0.3s ease; 
}


.hamburger.open .line:nth-child(1) {
    transform: rotate(45deg) translate(4px, 0);
    position: relative;
    top: 8px;
}

.hamburger.open .line:nth-child(2) {
    opacity: 0;
}

.hamburger.open .line:nth-child(3) {
    transform: rotate(-45deg) translate(4px, 0);
    position: relative;
    top: -8px;
}

.nav_menu a {
    color: #ffffff;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav_menu a:hover {
    color: #FFBD59;
    background-color: #012B28;
}


@media (max-width: 768px) {
    .nav_container > ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 130px;
        left: 0;
        background-color: #012b28;
        width: 100%;
        padding: 15px;
        border-radius: 4px;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transform: translateY(-20px);
        transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease; /* Transition for smooth toggle */
    }

    .nav_container > ul > li {
        padding-bottom: 10px;
    }

    .nav_container > ul > li > a {
        color: #fff;
    }

    ul.menuOpen {
        max-height: 300px;
        opacity: 1; 
        transform: translateY(0);
        flex-direction: column;
        text-decoration: none;
        color: #fff;
    }

    .menuOpen a {
        color: #ffffff;
        transition: color 0.3s ease, background-color 0.3s ease;
    }
    
    .menuOpen a:hover {
        color: #FFBD59;
        background-color: #012B28;
    }

    .hamburger {
        display: flex;
    }
}
